.retro-new-form .c {
  &__input {
    border: 1px solid #e6e9ec;
    border-radius: 4px;
    overflow: hidden;

    .CodeMirror {
      height: 50vh !important;
      line-height: 1.5rem;
    }

    .CodeMirror-linenumber {
      padding-right: 1rem;
    }

    .CodeMirror-hscrollbar,
    .CodeMirror-vscrollbar {
      display: none !important;
    }
  }
}
