html {
  font-family: Ubuntu, sans-serif !important;
  font-size: 14px;
  font-weight: 300;
}

body {
  min-height: 100vh;
  margin: 0;
  margin-left: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 4px;
}

a {
  color: #3a5fd6;
  text-decoration: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  margin-left: 12px;
  list-style-position: outside;

  li {
    margin-bottom: 4px;
    margin-top: 4px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

li > ul {
  margin-left: 16px;
}

label {
  margin-right: 16px;
}

.__nuxt-error-page {
  margin-left: 40px;
}

.vs-button {
  --vs-button-margin: 0;
}

.vs-select__label {
  margin-top: 2px;
}
